@media only screen and (max-width: 48rem)
{
}

@media only screen and (min-width: 48rem)
{
    body {
        font-size: 20px;
    }
    .project h1 {
        font-size: 80px;
    }
    .project p {
        max-width: 30rem;
    }
}

@media only screen and (min-width: 62rem)
{
    
    .project h1 {
        font-size: 80px
    }
    .project p {
        max-width: 50rem;
    }
}

@media only screen and (min-width: 75rem)
{
}
